html, body{
	height: 100%;
	width: 100%;
	display: table;
	background-color: #fafafa;
}

body{
	
}

@font-face {
    font-family: myFirstFont;
    src: url(../images/fontAvenue.ttf);
    
}

@font-face {
    font-family: mySecondFont;
    src: url(../images/fontGamma.ttf);
    
}

/*TOP SECTION*/

#hero{

background-image: url('../images/hero.png');
background-position: top left;
background-size: cover;
padding: 0;
}

#logoFont{
	padding: 70px;
	color: white;
	font-family: mySecondFont;
	font-size: 10vw;
	text-align: center;
	text-shadow: 0px 0px 10px #0c51e2;
}

#searchBox{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,1d4893+100 */
background: rgb(179,220,237); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(29,72,147,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(29,72,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(29,72,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#1d4893',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	padding: 30px 60px;
}

#boxSearchContainer{
	max-width: 500px;
	margin:auto;
}


/*MIDDLE SECTIONS*/

#middleContainer{
	box-sizing: border-box;
}

	#weatherContainer{
		height: inherit;
	 background-color: purple;

	}

	#detailsContainer{
	padding: 0;
	}
		#cityBox{
			background-color: violet;
		}

		#dayAndVideoContainer{
			display: flex;
			flex-direction: row;

		}

			#dayInfoBox{
				flex:1;
				background-color: orange;
			}

			#videoBox{
				flex:1;
				background-color: grey;
			}

		#mapBox{

			background-color: lightblue;
		}

