@-webkit-keyframes AnimationName {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes AnimationName { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}



html, body{
	height: 100%;
	width: 100%;
	display: table;
	background-color: transparent;
}

#myVideo{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translate(-50%, -50%);
}

@font-face {
	font-family: myFirstFont;
	src: url(../images/fontAvenue.ttf);
	
}

@font-face {
	font-family: mySecondFont;
	src: url(../images/fontGamma.ttf);
	
}

/*TOP SECTION*/

#hero{

	background-image: url('../images/hero-01.png');
	background-position: top left;
	background-size: cover;
	padding: 40px;
	text-align: center;
	margin: 0;
}

#logoFont{
	margin:0;
	color: white;
	font-family: mySecondFont;
	font-size: 10vw;
	text-align: center;
	text-shadow: 0px 0px 10px #0c51e2;
}

#logoFont2{
	font-family: myFirstFont;
	font-size: 2em;
}


#searchBox{

	background: linear-gradient(291deg, orange, purple, #00d6ff);
	background-size: 600% 600%;
	-webkit-animation: AnimationName 21s ease infinite;
	-moz-animation: AnimationName 21s ease infinite;
	-o-animation: AnimationName 21s ease infinite;
	animation: AnimationName 21s ease infinite;
	padding: 30px 60px;
}

#boxSearchContainer{
	max-width: 500px;
	margin:auto;
}


/*MIDDLE SECTIONS*/

#middleContainer{
	height: auto;
	padding: 0;
	margin:0;

}
/*This is where you the left box witht the main weather info resides*/
#weatherContainer{
	
	min-height: 500px;
	background-color: purple;
	color: white;
	text-shadow: 2px 2px 2px #3e5d96;
	padding: 30px;
	font-size: 4em;
	font-family: mySecondFont; 
	background-image: url('../images/beachDefault.jpg');
	background-blend-mode: multiply;
	background-position: top left;
	background-size: cover;


}

#detailsContainer{
	padding: 0;
	margin:0;
}
#cityBox{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b6e75+0,2a2d2d+50,0a0e0a+51,0a0809+100 */
	background: rgb(107,110,117); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(107,110,117,1) 0%, rgba(42,45,45,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(107,110,117,1) 0%,rgba(42,45,45,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(107,110,117,1) 0%,rgba(42,45,45,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6e75', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 30px;
	text-align: center;
}


#dayInfoBox{
	min-height: 400px;
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.78+0,0+55 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.78) 0%, rgba(0,0,0,0) 55%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	overflow: scroll;
}

#dayInfoBox thead td{
	font-weight: bold;
	color: #22b8ff;
}

#videoBox{

	min-height: 580px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#153b77+0,532970+100 */
background: rgb(21,59,119); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(21,59,119,1) 0%, rgba(83,41,112,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(21,59,119,1) 0%,rgba(83,41,112,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(21,59,119,1) 0%,rgba(83,41,112,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#153b77', endColorstr='#532970',GradientType=0 ); /* IE6-9 */


}

#mapBox{
	height: 480px;
	background-color: darkblue;

}


#FourSquareBox{
	margin:0;
	padding: 0;
	border-bottom: 6px hotpink solid;
}

#FSTitle{

	font-family: myFirstFont;
	min-height: 200px;
	margin:0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b6e75+0,2a2d2d+50,0a0e0a+51,0a0809+100 */
	background: rgb(107,110,117); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(107,110,117,1) 0%, rgba(42,45,45,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(107,110,117,1) 0%,rgba(42,45,45,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(107,110,117,1) 0%,rgba(42,45,45,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6e75', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 30px;
	text-align: center;
}

#FSResultsHere{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,006ac1+100 */
	background: rgb(0,183,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,106,193,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,106,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,106,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#006ac1',GradientType=0 ); /* IE6-9 */
	
	margin:0;
	min-height: 200px;
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.foodPlace{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#828c95+0,b5bdc8+20,828c95+40,28343b+51,28343b+100 */
background: rgb(130,140,149); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(130,140,149,1) 0%, rgba(181,189,200,1) 20%, rgba(130,140,149,1) 40%, rgba(40,52,59,1) 51%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(130,140,149,1) 0%,rgba(181,189,200,1) 20%,rgba(130,140,149,1) 40%,rgba(40,52,59,1) 51%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(130,140,149,1) 0%,rgba(181,189,200,1) 20%,rgba(130,140,149,1) 40%,rgba(40,52,59,1) 51%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828c95', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

	flex:1;
	color: white;
	border-radius: 20px;
	padding: 10px;
	margin:10px;
	box-shadow: 4px 2px 0px #1e63bb;

}

.foodPlace:hover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28146d+0,af68d6+20,28146d+40,100e49+51,0d1214+100 */
background: rgb(40,20,109); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(40,20,109,1) 0%, rgba(175,104,214,1) 20%, rgba(40,20,109,1) 40%, rgba(16,14,73,1) 51%, rgba(13,18,20,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(40,20,109,1) 0%,rgba(175,104,214,1) 20%,rgba(40,20,109,1) 40%,rgba(16,14,73,1) 51%,rgba(13,18,20,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(40,20,109,1) 0%,rgba(175,104,214,1) 20%,rgba(40,20,109,1) 40%,rgba(16,14,73,1) 51%,rgba(13,18,20,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28146d', endColorstr='#0d1214',GradientType=0 ); /* IE6-9 */

}

.foodPlace img{
	width: 30px;
}

.foodPlace a{
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	margin: 3px;
}

.openNow{
	color: #d2ffc0;
	text-shadow: 0px 0px 5px #1bff37;
}

.closedNow{
	color: #ffb9ca;
	text-shadow: 0px 0px 5px #fc3131;
}

.stars{

	color:#ffcc00 ;
	text-shadow: 1px 1px 0px #4b6886;
}

#bottomHeroBox{
	border-top: 6px hotpink solid;
	padding: 0px;
	height: 200px;
	margin:0;
	text-align: center;
	background-image: url('../images/panorama.jpg');
	background-position: top left;
	background-size: cover;
}


.myFooter{
	text-align: center;
	padding: 30px;
	color:white;
	font-family: sans-serif;
	background: linear-gradient(291deg, #008ffc, #410151, #00fff1);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 21s ease infinite;
	-moz-animation: AnimationName 21s ease infinite;
	-o-animation: AnimationName 21s ease infinite;
	animation: AnimationName 21s ease infinite;

}

#recentlySearchedBox{
	margin:0;
	padding: 0;
	border-bottom: 4px orange solid;
	
}

#recentlySearchedTitle{

	font-family: myFirstFont;
	min-height: 100px;
	margin:0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b6e75+0,2a2d2d+50,0a0e0a+51,0a0809+100 */
	background: rgb(107,110,117); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(107,110,117,1) 0%, rgba(42,45,45,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(107,110,117,1) 0%,rgba(42,45,45,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(107,110,117,1) 0%,rgba(42,45,45,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6e75', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 10px;
	text-align: center;
}

#recentlySearchedResultsHere{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

	margin:0;
	min-height: 100px;
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.recentButton{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

	flex:1;
	color: white;
	border-radius: 20px;
	box-shadow: 4px 2px 0px #1e63bb;
	margin: 2px;

}
