@-webkit-keyframes AnimationName {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes AnimationName { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}



html, body{
	height: 100%;
	width: 100%;
	display: table;
	background-color: transparent;
}

#myVideo{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translate(-50%, -50%);
}

@font-face {
	font-family: myFirstFont;
	src: url(../images/fontAvenue.ttf);
	
}

@font-face {
	font-family: mySecondFont;
	src: url(../images/fontGamma.ttf);
	
}

/*TOP SECTION*/

#hero{

	background-image: url('../images/hero.png');
	background-position: top left;
	background-size: cover;
	padding: 0;
	text-align: center;
}

#logoFont{
	margin:0;
	padding: 70px;
	color: white;
	font-family: mySecondFont;
	font-size: 10vw;
	text-align: center;
	text-shadow: 0px 0px 10px #0c51e2;
}

#logoFont2{
	font-family: myFirstFont;
}


#searchBox{
	background: linear-gradient(291deg, #fce700, #410151, #d700ff);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 21s ease infinite;
	-moz-animation: AnimationName 21s ease infinite;
	-o-animation: AnimationName 21s ease infinite;
	animation: AnimationName 21s ease infinite;
	padding: 30px 60px;
}

#boxSearchContainer{
	max-width: 500px;
	margin:auto;
}


/*MIDDLE SECTIONS*/

#middleContainer{
	height: auto;
	padding: 0;
	margin:0;

}
/*This is where you the left box witht the main weather info resides*/
#weatherContainer{
	
	min-height: 1000px;
	background-color: purple;
	
	color: white;
	text-shadow: 2px 2px 2px #3e5d96;
	padding: 30px;
	font-size: 4vw;
	font-family: mySecondFont; 
	background-image: url('../images/beachDefault.jpg');
	background-blend-mode: multiply;
	background-position: top left;
	background-size: cover;


}

#detailsContainer{
	padding: 0;
	margin:0;
}
#cityBox{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b6e75+0,2a2d2d+50,0a0e0a+51,0a0809+100 */
	background: rgb(107,110,117); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(107,110,117,1) 0%, rgba(42,45,45,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(107,110,117,1) 0%,rgba(42,45,45,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(107,110,117,1) 0%,rgba(42,45,45,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6e75', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 30px;
	text-align: center;
}


#dayInfoBox{
	min-height: 300px;
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.78+0,0+55 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.78) 0%, rgba(0,0,0,0) 55%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

#dayInfoBox thead td{
	font-weight: bold;
	color: #22b8ff;
}

#videoBox{
	min-height: 300px;
	background-color: darkgrey;
}

#mapBox{
	height: 480px;
	background-color: darkblue;

}

#FourSquareBox{
	margin:0;
	padding: 0;
	border-bottom: 6px white solid;
}

#FSTitle{

	font-family: myFirstFont;
	min-height: 150px;
	margin:0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b6e75+0,2a2d2d+50,0a0e0a+51,0a0809+100 */
	background: rgb(107,110,117); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(107,110,117,1) 0%, rgba(42,45,45,1) 50%, rgba(10,14,10,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(107,110,117,1) 0%,rgba(42,45,45,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(107,110,117,1) 0%,rgba(42,45,45,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6e75', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
	color: white;
	padding: 30px;
	text-align: center;
}

#FSResultsHere{
	margin:0;
	min-height: 150px;
	background-color: hotpink;
}


.myFooter{
	text-align: center;
	padding: 30px;
	color:white;
	font-family: sans-serif;
	background: linear-gradient(291deg, #008ffc, #410151, #00fff1);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 21s ease infinite;
	-moz-animation: AnimationName 21s ease infinite;
	-o-animation: AnimationName 21s ease infinite;
	animation: AnimationName 21s ease infinite;

}
